<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/echarts/echarts.min.js') }}"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>

<body class="container mt-4">
    <h1 class="text-primary">Flask + WebSocket + ECharts</h1>
    <button id="btn" class="btn btn-info">Get Data (AJAX)</button>
    <div id="result" class="mt-3"></div>

    <div id="chart" style="width: 600px; height: 400px;"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>