{% extends "base.html" %} {% block title %}Insights - Expense Tracker{% endblock %} {% block
extra_head %}
<link rel="stylesheet" href="/static/css/insight.css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
{% endblock %} {% block navbar_right %}
<li class="nav-item">
    <a class="nav-link text-dark" href="/logout">Logout</a>
</li>
{% endblock %} {% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="d-flex flex-wrap gap-4">
                    <!-- time selector -->
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center gap-3">
                            <label for="startDate" class="form-label mb-0 me-2">Start Date</label>
                            <input type="date" id="startDate" class="form-control" style="width: auto;" />

                            <label for="endDate" class="form-label mb-0 mx-2">End Date</label>
                            <input type="date" id="endDate" class="form-control" style="width: auto;" />
                        </div>
                    </div>

                    <!-- chart selector -->
                    <!-- <div class="d-flex align-items-center">
                        <label for="chartType" class="form-label me-2 mb-0">Chart</label>
                        <select id="chartType" class="form-select" style="width: auto;">
                            <option value="pie">Category Distribution</option>
                            <option value="bar">Date and Category</option>
                            <option value="line">Daily Trends</option>
                        </select>
                    </div> -->

                    <!-- Type selector -->
                    <div class="d-flex align-items-center">
                        <label for="chartType" class="form-label me-2 mb-0">Transaction</label>
                        <select id="dataType" class="form-select" style="width: auto;">
                            <option value="all" selected>All</option>
                            <option value="income">Income</option>
                            <option value="expense">Expenses</option>
                        </select>
                    </div>

                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary btn-sm me-2" type="button" id="search">Search</button>
                        <button class="btn btn-primary btn-sm" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-light rounded-top border-bottom">
                <h5 class="card-title mb-0">Expense Summary</h5>
            </div>
            <div class="card-body">
                <p><strong>Total Entries:</strong> <span id="totalEntries">0</span></p>
                <p><strong>Total Amount:</strong> $<span id="totalAmount">0.00</span></p>
                <p><strong>Average Amount:</strong> $<span id="averageAmount">0.00</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-light rounded-top border-bottom">
                <h5 class="card-title mb-0">Category Distribution</h5>
            </div>
            <div class="card-body">
                <div id="categoryDistributionList"></div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-light rounded-top border-bottom">
                <h5 class="card-title mb-0">Expense ratio</h5>
            </div>
            <div class="card-body">
                <div id="pieChart" style="height: 400px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-light rounded-top border-bottom">
                <h5 class="card-title mb-0">Expense trend</h5>
            </div>
            <div class="card-body">
                <div id="lineChart" style="height: 400px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-6">
        <div class="card-header bg-light rounded-top border-bottom">
            <h5 class="card-title mb-0">MoM Analysis</h5>
        </div>
        <div class="card-body">
            <div id="MoMChart" style="height: 400px"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-header bg-light rounded-top border-bottom">
            <h5 class="card-title mb-0">YoY Analysis</h5>
        </div>
        <div class="card-body">
            <div id="YoYChart" style="height: 400px"></div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_scripts %}
<script src="/static/js/insight.js"></script>
{% endblock %}